<div id="translist" class="container" style="padding-top: 50px; background:#f0f0f0">

	<h3 class="text-gray" style="text-align:left;">Transaction Explorer
		<small>List Ethereum transactions, you have to do this opt before others!</small>
	</h3>

	<div class="container">
		<div style="float:left;">
			<h4 style="text-align:left">
				<a href="/#/block/{{blockNum}}">Curren Block: {{currentblockNum}}</a>
			</h4>
		</div>
	</div>
	<div style="clear:both;"></div>

	<table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:5px;table-layout:fixed">
		<tbody>
			<tr>
				<th class="th-blockhash">TxHash</th>
				<th class="th-blocknum">Block#</th>
				<th class="th-address">From</th>
				<th class="th-address">To</th>
				<!-- <th class="th-value">Value(Wei)</th> -->
				<th class="th-value">Value(ETH)</th>
				<!-- <th>Timestamp</th> -->
			</tr>
			<tr data-ng-repeat="tx in transactions">
				<td style="overflow: hidden;text-overflow:ellipsis">
					<a href="./#/transaction/{{tx.hash}}">
						<span class="small ng-binding">{{tx.hash}}
							</span>
						</a>
				</td>
				<td style="overflow: hidden;text-overflow:ellipsis">
					<a href="./#/block/{{tx.block}}">
						<span class="small ng-binding">{{tx.block}}
							</span>
						</a>
				</td>
				<td style="overflow: hidden;text-overflow:ellipsis">
					<a href="./#/address/{{tx.from}}">
						<span class="small ng-binding">{{tx.from}}
							</span>
						</a>
				</td>
				<td style="overflow: hidden;text-overflow:ellipsis">
					<a href="./#/address/{{tx.to}}">
						<span class="small ng-binding">{{tx.to}}
							</span>
						</a>
				</td>
				<!-- <td><span class="small ng-binding">{{tx.value}}</span></td> -->
				<td><span class="small ng-binding">{{tx.valueeth}}</span></td>
				<!-- <td>{{i.timestamp}}</td> -->
			</tr>

		</tbody>
	</table>

</div>