<div id="whisper" class="container" style="padding-top: 50px; background:#f0f0f0">

	<font class="text-gray" size="5">Contract </font>
	<font class="text-gray" size="3">{{contractname}}</font>

	<hr/>

	<div <h5 style="text-align:left;">ContractTracker Summary</h5>
	</div>

	<div class="container" style="background:white; width:99%">
		<div class="container" align="left" style="float:left; width:50%">
			<hr/>
			<font size="2">Contract Address: {{contractaddress}}</font>
			<hr/>
		</div>

		<div class="container" align="left" style="float:right; width:50%">
			<hr/>
			<font size="2">No.Of.Transfers: {{transfersnum}}</font>
			<hr/>
		</div>
	</div>

	<div class="container" align="left" style="float:left; padding-top: 10px;">
		<ul class="nav nav-tabs" ng-init="showGrid=1">
			<li ng-class="activeTransfers" style="border-style:dotted; border-width:1px; border-color:#000">
				<li ng-class="activeTransfers">
					<a ng-click="showGrid=1">Contract Transfers</a>
				</li>
				<li ng-class="activeContract">
					<a ng-click="showGrid=3">Read Contract</a>
				</li>
		</ul>
		<div ng-if="showGrid == 1" class="gridStyle" ng-grid="gridOptions">
			<table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:5px;table-layout:fixed">
				<tbody>
					<tr>
						<th class="th-blockhash">TxHash</th>
						<th class="th-blocktime">Age</th>
						<th class="th-address">From</th>
						<th class="th-address">To</th>
						<th class="th-value">Quantity</th>
					</tr>
					<tr data-ng-repeat="tx in transactions">
						<td style="overflow: hidden;text-overflow:ellipsis">
							<a href="./#/transaction/{{tx.hash}}">
								<span class="small ng-binding">{{tx.hash}}
									</span></a></td>
						<td style="overflow: hidden;text-overflow:ellipsis">
							<span class="small ng-binding">10 secs ago
									</span></td>
						<td style="overflow: hidden;text-overflow:ellipsis">
							<a href="./#/tokenaccount/{{tx.from}}">
								<span class="small ng-binding">{{tx.from}}
									</span></a></td>
						<td style="overflow: hidden;text-overflow:ellipsis">
							<a href="./#/tokenaccount/{{tx.to}}">
								<span class="small ng-binding">{{tx.to}}
									</span></a></td>
						<td style="overflow: hidden;text-overflow:ellipsis">
							<span class="small ng-binding">
							{{tx.value | number}}
						</span></td>
					</tr>

				</tbody>
			</table>
		</div>

		<div ng-if="showGrid == 3" class="gridStyle" ng-grid="gridOptions3">

			<font size="2">Read Contract Information</font>
			<table class="table table-striped" cellpadding="0" cellspacing="0" style="padding:0px;float:left;margin:5px;table-layout:fixed">
				<tbody>
					<tr>
						<!-- <th>Rank</th> -->
						<!-- <th>Item</th> -->
					</tr>
					<tr data-ng-repeat="item in abi">
						<td style="overflow: hidden;text-overflow:ellipsis">
							<div style="float:left; text-align:center"> {{$index+1}}.{{item.name}}</div>
							<div style="float:left; text-align:center">→{{item.value}}</div>
							<span style="float:right;">
								<a href="" ng-click="execute($index)">{{item.constant?'Execute':"Execute"}}
									</a></span>
							<div ng-repeat="input in item.inputs">
								<input type="text" placeholder="{{input.type}}" class="form-control" style="width:100px; height:20px; float:right; margin:1px" ng-model="input.value" id="input{{$index + 1}}" name="input{{$index + 1}}"
								/>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>